* {
  margin: 0;
  padding: 0;
}

main{
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.generate--button,
.copy--button {
  margin-top: 20px;
}

.generate--button{
  width: 150px;
  height: 50px;
  border-radius: 15px;
  font-size: larger;
}

.copy--button{
  width: 150px;
  height: 50px;
  border-radius: 15px;
  font-size: larger;
}


.main--textbox{
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  font-weight: 700;
  font-size: larger;
  height: 50px;
  width: 1000px;
}